<div class="container">
  <% @questions.each do |q| %>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= image_tag "mickey.jpg", size: "64x44", alt: "user"%>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= q.email %> has asked...</h4>
          <%= q.created_at %>
          <%= q.body %>
        <div>
          <a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
