<div class="container">
  <div class="lead well">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= image_tag "mickey.jpg", size: "64x44", alt: "user"%>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">user@world.com has answered...</h4>
        Lorem ipsum dolor sit amet, ius te assum scripta. Et purto definiebas vituperata cum, adhuc vulputate definitionem sea ea, ex per ornatus consulatu. Commodo admodum principes qui eu. At nec fugit efficiantur.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-1">

      <div>
        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-answer-modal">Submit new answer</button>
      </div>

      <%= render 'home/new_answer' %>

      <div class="media">
        <div class="media-left">
          <a href="#">
            <%= image_tag "mickey.jpg", size: "64x44", alt: "user"%>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">user@world.com has answered...</h4>
          Lorem ipsum dolor sit amet, ius te assum scripta. Et purto definiebas vituperata cum, adhuc vulputate definitionem sea ea, ex per ornatus consulatu. Commodo admodum principes qui eu. At nec fugit efficiantur.
        </div>
      </div>

      <div class="media">
        <div class="media-left">
          <a href="#">
            <%= image_tag "mickey.jpg", size: "64x44", alt: "user"%>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">user@world.com has answered...</h4>
          Lorem ipsum dolor sit amet, ius te assum scripta. Et purto definiebas vituperata cum, adhuc vulputate definitionem sea ea, ex per ornatus consulatu. Commodo admodum principes qui eu. At nec fugit efficiantur.
        </div>
      </div>

    </div>
  </div>
</div>
